<div ng-show="featurePostFlag" class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading feature-title">
				<h3 class="panel-title">Feature Post: {{ featurePost.title }}</h3>
			</div>
			<div class="panel-body feature-body">{{ featurePost.description }}</div>
			<div class="panel-footer feature-footer">Created by <strong>{{ featurePost.owner }}</strong></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div ng-repeat="post in posts">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ post.title }}</h3>
				</div>
				<div class="panel-body">{{ post.description }}</div>
				<div class="panel-footer">Created by <strong>{{ post.owner }}</strong>
					<button ng-show="post.ownerId === _currentUser.id" ng-click="openPopUp($event, post)" type="button" class="btn btn-link pull-right" data-toggle="modal">delete</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade delete-post" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete '{{deletePost.title}}' ?</h4>
      </div>
      <!-- <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ng-click="delPost()" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->