<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form>
		  <div class="form-group">
		    <label for="postTitle">Title</label>
		    <input ng-model="newPost.title" type="text" class="form-control" id="postTitle" placeholder="Title">
		  </div>
		  <div class="form-group">
		    <label for="postDescription">Description</label>
		    <input ng-model="newPost.description" type="text" class="form-control" id="postDescription" placeholder="Description">
		  </div>
		  <button ng-click="createNewPost()" type="submit" class="btn btn-default">Save</button>
		</form>
	</div>
</div>