<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="posts">Blog</a>
      <p ng-show="_currentUserFlag" class="navbar-text">Signed in as <strong>{{_currentUser.username}}</strong></p>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-show="_currentUserFlag" ui-sref="postNew">New Post</a></li>
        <li><a ng-hide="_currentUserFlag" ui-sref="userLogIn">Log In</a></li>
        <li><a ng-hide="_currentUserFlag" ui-sref="userSignUp">Sign Up</a></li>
        <li><a ng-show="_currentUserFlag" ng-click="logOut($event)" role="button">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
