<div class="row">
	<div class="col-sm-8 col-sm-offset-2">

		<div class="page-header">
		  <h1>User Log In</h1>
		</div>
		<div class="jumbotron">

		  <form novalidate class="form-horizontal" role="form" name="userForm">

		    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$touched }">
		      <label class="col-sm-2 control-label">Email</label>
		      <div class="col-sm-10">
		        <input ng-model="user.email" type="email" name="email" class="form-control" placeholder="Email address" required>
		      </div>
		      <div class="col-sm-10 col-sm-offset-2">
		        <p ng-show="userForm.email.$invalid && userForm.email.$touched">
		          Enter a valid email address
		        </p>
		      </div>
		    </div>

		    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$touched }">
		      <label class="col-sm-2 control-label">Password</label>
		      <div class="col-sm-10">
		        <input ng-model="user.password" ng-minlength="5" ng-maxlenght="12" type="password" name="password" class="form-control" placeholder="Password" required>
		      </div>
		      <div class="col-sm-10 col-sm-offset-2">
		        <p ng-show="userForm.password.$error.minlength && userForm.password.$touched">
		          Passord must be greather then five characters
		        </p>
		      </div>
		      <div class="col-sm-10 col-sm-offset-2">
		        <p ng-show="userForm.password.$error.maxlength && userForm.password.$touched">
		          Passord must be less then twelve characters
		        </p>
		      </div>
		    </div>

		    <div class="form-group">
		      <div class="col-sm-offset-2 col-sm-10">
		        <button class="btn btn-primary" type="submit"
		                ng-click="logIn($event, user)"
		                ng-disabled="userForm.$invalid" >
		                Log In
		        </button>
		      </div>
		    </div>

		  </form>
		</div>

	</div>
</div>