<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div class="page-header">
		  <h1>User Sign Up</h1>
		</div>
		<div class="jumbotron">
		  <form novalidate class="form-horizontal" role="form" name="userForm">

		      <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && userForm.username.$touched }">
		        <label class="col-sm-2 control-label">User name</label>
		        <div class="col-sm-10">
		          <input ng-model="newUser.username" type="text" name="username" placeholder="User name" class="form-control" ng-minlength="5" required >
		        </div>
		        <div class="col-sm-10 col-sm-offset-2">
		          <p ng-show="userForm.username.$error.minlength && userForm.username.$touched">
		            User name must be greather then five charackters
		          </p>
		        </div>
		      </div>

		      <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$touched }">
		        <label class="col-sm-2 control-label">Email</label>
		        <div class="col-sm-10">
		          <input ng-model="newUser.email" type="email" name="email" placeholder="Email address" class="form-control" required >
		        </div>
		        <div class="col-sm-10 col-sm-offset-2">
		          <p ng-show="userForm.email.$invalid && userForm.email.$touched">
		            Enter a valid email address
		          </p>
		        </div>
		      </div>

		      <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$touched }">
		        <label class="col-sm-2 control-label">Password</label>
		        <div class="col-sm-10">
		          <input ng-model="newUser.password" ng-minlength="5" type="password" name="password" class="form-control" placeholder="Password" required>
		        </div>
		        <div class="col-sm-10 col-sm-offset-2">
		          <p ng-show="userForm.password.$error.minlength && userForm.password.$touched">
		            Passord must be greather then five characters
		          </p>
		        </div>
		      </div>

		      <div class="form-group" ng-class="{ 'has-error' : (newUser.password_confirmation !== newUser.password) && userForm.password_confirmation.$touched }">
		        <label class="col-sm-2 control-label">Password Confirmation</label>
		        <div class="col-sm-10">
		          <input ng-model="newUser.password_confirmation" ng-minlength="5" type="password" name="password_confirmation" class="form-control" placeholder="Password confirmation" required>
		        </div>
		        <div class="col-sm-10 col-sm-offset-2">
		          <p ng-show="(newUser.password_confirmation !== newUser.password) && !userForm.password_confirmation.$pristine && userForm.password_confirmation.$touched">
		            Passord confirmation is not valid
		          </p>
		        </div>
		      </div>

		      <div class="form-group">
		        <div class="col-sm-offset-2 col-sm-10">
		          <button class="btn btn-primary" type="submit"
		                  ng-click="signUp($event)"
		                  ng-disabled="userForm.$invalid" >
		                  Sign Up
		          </button>
		        </div>
		      </div>

		  </form>
		</div>
	</div>
</div>

