blog.config(['$stateProvider', function($stateProvider) {
	$stateProvider
		.state('index', {
			abstract: true,
			views: {
				'@': {
					templateUrl: "<%= asset_path('layout.html') %>"
				},
				'top@index': {
					templateUrl: "<%= asset_path('top.html') %>",
					controller: 'topController'
				},
				'main@index': {
					templateUrl: "<%= asset_path('main.html') %>"
				}
			}
		})
		.state('posts', {
			parent: 'index',
			url: '/posts',
			controller: 'postsController',
			templateUrl: "<%= asset_path('posts.index.html') %>"
		})
		.state('postNew', {
			parent: 'index',
			url: '/posts/new',
			controller: 'postsController',
			templateUrl: "<%= asset_path('posts.new.html') %>"
		})
		.state('userLogIn', {
			parent: 'index',
			url: '/login',
			controller: 'userController',
			templateUrl: "<%= asset_path('user.login.html') %>"
		})
		.state('userSignUp', {
			parent: 'index',
			url: '/signup',
			controller: 'userController',
			templateUrl: "<%= asset_path('user.signup.html') %>"
		})
}])